.header {
    height: 55vh;
    background: linear-gradient( to right bottom, rgba(69, 206, 48, 0.8), rgba(46, 204, 114, 0.8));
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 35vh, 0 100%);
    position: relative;
}

/* background-image: linear-gradient( to right bottom,rgba(255, 255, 255, 0.8),rgba(0, 0, 0, 0.8) ), url('../../assets/img/hero.jpg'); */

._logobox {
    position: absolute;
    top: 40px;
    left: 40px;
}

._logo {
    height: 35px;
}

.heading_big {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
}

.heading_1 {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* animation-delay,delays the start of an animation */
}

.heading_2 {
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 60px;
    letter-spacing: 17.4px;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.hOne-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Adding Animations */

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInButton {
    0% {
        opacity: 0;
        transform: translateY(80px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link, .btn:visited {
    animation: moveInButton 1s ease-out;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 100px;
    display: inline-block;
    transition: all .2s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

/* .btn:after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
} */

/* .btn-white:after {


} */